<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="76"
    android:versionName="1.8.1-dev"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    package="com.termux"
    platformBuildVersionCode="34"
    platformBuildVersionName="14">
    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="28"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
        </intent>
        <package android:name="com.android.chrome"/>
        <package android:name="com.sec.android.app.sbrowser"/>
        <package android:name="org.mozilla.firefox"/>
        <package android:name="com.opera.browser"/>
        <package android:name="com.brave.browser"/>
    </queries>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.TRANSMIT_IR"/>
    <uses-permission android:name="android.permission.USB_PERMISSION"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <permission
        android:label="Run commands in MobileCLI"
        android:name="com.termux.permission.RUN_COMMAND"
        android:protectionLevel="dangerous"
        android:description="@string/run_command_permission_description"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.light"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.consumerir"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false"/>
    <permission
        android:name="com.termux.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.termux.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:theme="@style/Theme.MobileCLI"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:name="com.termux.TermuxApplication"
        android:debuggable="true"
        android:allowBackup="true"
        android:supportsRtl="false"
        android:extractNativeLibs="true"
        android:roundIcon="@drawable/ic_launcher"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity
            android:theme="@style/Theme.MobileCLI.NoActionBar"
            android:name="com.termux.SetupWizardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.termux.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="fontScale|density|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:windowSoftInputMode="adjustResize"
            android:resizeableActivity="true"/>
        <activity
            android:theme="@style/Theme.MobileCLI.NoActionBar"
            android:name="com.termux.activities.SettingsActivity"
            android:exported="false"
            android:parentActivityName="com.termux.MainActivity"/>
        <activity
            android:theme="@android:style/Theme.NoDisplay"
            android:name="com.termux.TermuxUrlHandlerActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="com.termux.OPEN_URL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.NoDisplay"
            android:name="com.termux.TermuxAmDispatcherActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="com.termux.AM_DISPATCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.termux.filepicker.TermuxFileReceiverActivity"
            android:exported="true"
            android:taskAffinity="com.termux.filereceiver"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/*"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="message/*"/>
                <data android:mimeType="multipart/*"/>
                <data android:mimeType="text/*"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/*"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="text/*"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity>
        <provider
            android:name="com.termux.filepicker.TermuxDocumentsProvider"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:exported="true"
            android:authorities="com.termux.documents"
            android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER"/>
            </intent-filter>
        </provider>
        <provider
            android:name="com.termux.app.TermuxOpenReceiver.ContentProvider"
            android:permission="com.termux.permission.RUN_COMMAND"
            android:exported="true"
            android:authorities="com.termux.files"
            android:grantUriPermissions="true"/>
        <receiver
            android:name="com.termux.TermuxApiReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.termux.api.API_CALL"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.termux.app.TermuxOpenReceiver"
            android:exported="false"/>
        <receiver
            android:name="com.termux.boot.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.termux.app.TermuxService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="terminal_session"/>
        </service>
        <service
            android:name="com.termux.app.RunCommandService"
            android:permission="com.termux.permission.RUN_COMMAND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.termux.RUN_COMMAND"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4"/>
        <meta-data
            android:name="com.samsung.android.keepalive.density"
            android:value="true"/>
        <meta-data
            android:name="com.samsung.android.multidisplay.keep_process_alive"
            android:value="true"/>
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.termux.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
